<link
  rel="stylesheet"
  href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<img
  id="backgroundimg"
  src="/assets/t8.png"
  alt=""
/>
<div class="main">
  <div class="header">
    <i
      style="cursor: pointer; display: flex; float: right"
      class="fas fa-arrow-left"
    ></i>
    <!-- <div class="notifications"><b>3</b></div> -->
    <div class="center">
      <div>
        <img
          class="pfp"
          src="https://img.freepik.com/free-photo/robot-with-books_1048-4551.jpg?w=740&t=st=1700731662~exp=1700732262~hmac=7ec0857fdb1b0da95f8a936b197ff5855839248a22c0235a3353a3d58bd8316e"
        />
        <p id="pfpname">KWEKWE POLY</p>
        <p>{{ currentDate | date : "EEE, MMM d, y, h:mm a" }}</p>
      </div>
    </div>
  </div>

  <div class="content" #msgContainer>
    <div style="padding: 11px">
      <div class="clearfix">
        <div class="msg-btn-holder">
          <div class="receiver-msg msg-btn" *ngFor="let message of chatMessages">
            <div *ngIf="message.type === 'bot'" class="bot-msg">
              <p [innerHTML]="message.content"></p>
            </div>
            <div *ngIf="message.type === 'user'" class="user-msg">
              <p [innerHTML]="message.content"></p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  
  
  
  

  <div class="footer">
    <form action="" [formGroup]="messageForm">
      <div style="width: 100%; padding: 11px">
        <input
          placeholder="Message"
          class="text-box"
          formControlName="userMessage"
          (keydown.enter)="sendMessage()"
        />
        <div class="send-ico">
          <i
            style="position: absolute"
            class="fas fa-paper-plane"
            (click)="sendMessage()"
          ></i>
        </div>
      </div>
    </form>
    <!-- Loader -->
    <div *ngIf="loading" class="loader"></div>
  </div>
</div>
